* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font: inherit;
}

ul,
ol {
	list-style: none;
}

a img {
	border: none;
}

body {
	font: 300 100% 'Oxygen', 'sans-serif';
	color: #686868;
}

.container {
	display: block;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
}

.title:first-letter {
	text-transform: capitalize;
}

.label {
	font-weight: bold;
}

.section-title {
	font-size: 3em;
	color: #000;
	border-left: .3em solid;
	padding-left: .2em;
	line-height: 1.2em;
}

/*sections*/

.section {
	margin: 2em 0;
}

.section:after {
	content: "";
	display: block;
	clear: both;
}

.section .section-title {
	float: left;
	width: 37%;
	margin-right: 8%;
	min-width: 220px;
}

.section:nth-child(2n+1) .section-title {
	border-left-color: #cdcdcd;
}

.section:nth-child(2n) .section-title {
	border-left-color: #3A6099;
}

footer .section-title {
	border-left-color: #aeaeae;
}

.section-content {
	overflow: hidden;
	min-width: 320px;
}

article {
	margin: 1em 0;
}

.article-heading {
	font-size: 1.3em;
}

.article-content {
	white-space: pre-line;
}

@media(max-width: 733px) {
	.section .section-title {
		width: 65%;
		min-width: 320px;
		margin-bottom: .5em;
	}
}

/*participants*/
.participants-container {
	background: #464646;
	padding-top: 5em;
	padding-bottom: 5em;
	margin-top: 5em;
}

.participants-container .title {
	color: #ACABAB
}

.participants-container .label {
	margin-top: 5em;
}

.participant {
	display: inline-block;
	margin-bottom: 1em;
}

.participant-name {
	display: inline-block;
	width: 10em;
	text-align: right;
	margin-right: 1em;
	font-weight: 400;
}

.participant-img {
	border-radius: 50%;
}

.participants-text {
	margin-top: 1.5em;
	font-weight: 400;
}